@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    MinhTam NguyenNhat<br />
    Highgate Hill, Westend 4101<br />
    <abbr title="Phone">P:</abbr>
    0423 939 458
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ngnh_mtam@yahoo.com">ngnh_mtam@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ngnh_mtam@yahoo.com">ngnh_mtam@yahoo.com</a>
</address>