

<div class="container">

  <div class="starter-template">
    <h1>WELCOME TO SKY&LOTUS BAR</h1>
    <p class="lead">Stock Managerment System.</p>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="active" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a href="#" id="register-form-link">Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <!--Login goes here -->
              @Html.Partial("_Login")
              <!-- Register goes here -->
              @Html.Partial("_Register")
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}