@{
  ViewBag.Title = "Admin Room";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="starter-template">
  <h1>ADMIN ROOM</h1>
  <p class="lead">Stock Managerment System.</p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading" style="color: #ffffff; font-weight: bold;">What do you want to do?</div>
        @*<div class="panel-body"></div>*@

        <!-- List group -->
        <div class="list-group selection">
          <a href="@Url.Action("AddStock","Admin")" class="list-group-item list-group-item-default"><span class="glyphicon glyphicon-plus icon"></span>Stock up</a>
          <a href="#" class="list-group-item list-group-item-default"><span class="glyphicon glyphicon glyphicon-barcode icon"></span>Add stock code</a>
          <a href="#" class="list-group-item list-group-item-default"><span class="glyphicon glyphicon-list-alt icon"></span>View stock list</a>
          <a href="#" class="list-group-item list-group-item-default"><span class="glyphicon glyphicon glyphicon-dashboard icon"></span>Performance report</a>
          <a href="@Url.Action("AddRole","Admin")" class="list-group-item list-group-item-default"><span class="glyphicon glyphicon glyphicon-user icon"></span>Add role</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .selection > a > span {
    padding-right: 10px;
  }
</style>